.clean{
    display: inline-block;
    background-color: #ffffff;
}
.sector{
    display: inline-flex;
}
img{
    width: 700px;
    height: 400px;
    margin-left: 150px;
}
h1{
    font-size: 80px ;
    font-weight: 80px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 48, 87)
}
.diva{
    width:250px;
    height: 220px;
    margin-left: 20px;
    margin-top: 100px;
}
.fake{
    display: inline-flex;
}
nav{
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.saikik{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
}
.k{
    margin-left: 20px;
    width: 20px;
    font-size: 18px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h{
    margin-left: 20px;
    width: 20px;
    font-size: 18px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.i{
    margin-left: 20px;
    width: 20px;
    font-size: 18px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.t{
    margin-left: 20px;
    width: 20px;
    font-size: 18px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.e{
    margin-left: 20px;
    width: 20px;
    font-size: 18px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    background-color: red;
    cursor: pointer;
    height: 30px;
    border: 1px solid red;
    font-size: 18px;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    color: white;
    margin-top: 120px;
    margin-left: 20px;
    margin-top: 185px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    color: #ffffff;
    background-color: red;
    width: 200px;
    height: 45px;
    border: 1px solid orangered;
    border-radius: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buton{
    color: rgb(0, 48, 87);
    background-color: #ffffff;
    border: 2px solid rgb(0, 48, 87);
    border-radius: 5px;
    width: 150px;
    height: 45px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-size: 50px;
    color: rgb(0, 48, 87);
    text-align: center;
    margin-top: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.weassle{
    text-align: center;
    color: black;
    font-size: large;
    margin-top: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttun{
    color: #ffffff;
    background-color: red;
    width: 200px;
    height: 45px;
    border: 1px solid orangered;
    border-radius: 5px;
    margin-left: 550px;
    margin-bottom: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttun:hover{
    border: 1px solid orangered;
    background-color: orangered;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.butun{
    color: #ffffff;
    background-color: rgb(0, 48, 87);
    width: 110px;
    height: 45px;
    border: 1px solid rgb(0, 48, 87);
    border-radius: 5px;
    font-size: 17px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.butun:hover{
    border:1px solid red;
    background-color: red;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.who{
    width: 400px;
    margin-left: 200px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding-top: 10px ;
    padding-right: 0.5px ;
    padding-bottom: 10px ;
    padding-left: 10px;
    border-radius: 12px;
    display: inline-block;
    
}
.wee{
    font-size: small;
    color: #ffffff;
    border: 1px;
    height: 20px;
    background-color: red;
    border-radius: 20px;
    background-color: red;
    text-align: center;
    width: 110px;
    padding: 5px 5px 5px 5px;
    height: 19px;
    
}
.ere{
    font-size: 30px;
    
}
.were{
    font-size: 20px;
}
.tea{
    display: inline-flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.key{
    width: 400px;
    margin-left: 200px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding-top: 10px ;
    padding-right: 0.5px ;
    padding-bottom: 10px ;
    padding-left: 10px;
    border-radius: 12px;
    display: inline-block;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ket{
    font-size: small;
    color: #ffffff;
    border: 1px;
    height: 20px;
    background-color: gray;
    border-radius: 20px;
    background-color: gray;
    text-align: center;
    width: 110px;
    padding: 5px 5px 5px 5px;
    height: 19px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.kon{
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.kra{
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.WWH{
    font-size: 20px;
    color:rgb(0, 48, 87);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.WWH:hover{
    color: #ff0000;
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.WWB{
    font-size: 20px;
    color:rgb(0, 48, 87);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.WWB:hover{
    color: #ff0000;
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rion{
    text-align: center;
    font-size: 18px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.HIM{
    width: 440px;
    height: 300px;
    margin-left: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
}
.HW{
    font-size: 30px;
    color: rgb(0, 48, 87);
    padding-right: 20px;
}
.WH{
    color: #000000;
    font-size: 20px;
    padding-right: 20px;
}
.er{
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #ff0000;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;

}
.re{
    margin-bottom: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
section{
    display: inline-flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Taiye{
    width: 440px;
    height: 300px;
    margin-left: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding-left: 20px;
}
.Kenny{
    font-size: 30px;
    color: rgb(0, 48, 87);
    padding-right: 20px;
}
.Bolu{
    color: #000000;
    font-size: 20px;
    padding-right: 20px;
}
.Wisdom{
    display: inline-flex;
}
.Emma{
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}
.MummyDaddy{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.Everyone{
    display: inline-flex;
}
.image{
    width: 650px;
    height: 350px;
    margin-left: 350px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Here{
    color: #ffffff;
    width: 130px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
    background-color: red;
    border: #ff0000;
    border-radius: 3px;
    margin-left: 620px;
    margin-top: 1px;
    margin-bottom: 10px;
}
h3{
    font-size: 45px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 48, 87);
    text-align: center;
    margin-bottom: 30px;
}
.tired{
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 130px;
    height: 40px;
    background-color: red;
    border: #ff0000;
    border-radius: 3px;
    margin-left: 620px;
    margin-top: 1px;
    margin-bottom: 12px;
    margin-right: 20px;
}
.pa{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pipope{
    display: inline-flex;
    font-size: large;
    border-right: 1px solid gainsboro;
    margin-left: 200px;
    gap: 400px;
    color: red;
    font-size: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.there{
    display: inline-flex;
    border-right: 1px solid gainsboro;
    gap: 400px;
    margin-left: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.henry{
    margin-left: 60px;
    margin-top: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.danger{
    margin-left: 4px;
    margin-top: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bts{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tiwa{
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.davido{
    color: rgb(0, 48, 87);
    font-size: 75px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ayra{
    text-align: center;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.starr{
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #ff0000;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 580px;
    width: 250px;
    height: 60px;
    font-size: 18px;
    border-radius: 1%;
}
.starr:hover{
    background-color: orangered;
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rest{
    display: inline-flex;
    border: 1px solid  rgb(0, 48, 87);
    background-color:  rgb(0, 48, 87);
    width: 1339.4px;
    height: 390px;
    margin-top: 50px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
  
}


.boring{
    font-size: large;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.bing{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 88px 15px 15px 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}

.tib{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-right: 100px;
    margin-left: 80px;
}

.teen{
    display: inline-block;
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.titans{
    display: inline-block;
    color: white;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

footer{
    background-color: rgb(0, 48, 87);
    border-top: 1px solid grey;
    height: 100px;
    width: 1340.9px;
    text-align: center;
    color: white;
    font-size: large;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: white;
}
a:hover{
    color: white;
}
.c{
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 120px;
    margin-top: 50px;
    margin-left: 350px;
    border-left: none;
    border-right: none;
    margin-right: 25px;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
    margin-bottom: 5px;
}
.l{
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 120px;
    margin-top: 50px;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    margin-bottom: 5px;
}
.a{
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 120px;
    margin-top: 50px;
    border-left: none;
    border-right: none;
    text-align: center;
    margin-left: 25px;
    border-radius: 3px;
    padding-top: 15px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
    margin-bottom: 5px;
}
.r{
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 120px;
    margin-top: none;
    border-left: none;
    border-right: none;
    margin-left: 350px;
    margin-right: 25px;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
}
.s{
    border: 1px solid white;
    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 120px;
    margin-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
}
.v{
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 120px;
    margin-top: none;
    border-left: none;
    border-right: none;
    margin-left: 25px;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
}
.dera .era .ra{
    display: flex;
}
.dera{
    display: grid;
    align-items: center;
}
.ra{
    display: inline-flex;
    align-items:start;
    margin-left: 0px;
}
.era{
    display: inline-flex;
}
.jare{
    width: 75px;
    height: 40px;
    padding-top: 30px;
    padding-left: 0px;
}
.readonly{
    width: 170px;
    height: 70px;
    align-items: end;
    margin-left: 1170px;
    margin-bottom: 30px;
}
.finally{
    width: 210px;
    height: 50px;
    padding-right: 100px; 
}